<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <title>Contacto</title>
</head>

<body>
    <section class="container">
        <h1> Contacto</h1>
        <form action="/enviar-email" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label"> Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Ingresá tu nombre">
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label"> Apellido</label>
                <input type="text" class="form-control" name="apellido" placeholder="Ingresá tu nombre">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="asunto" class="form-label"> Asunto </label>
                <input type="text" class="form-control" name="asunto">
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                    name="mensaje"></textarea>
                <label for="mensaje">Mensaje</label>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="/assets/js/bootstrap.js"></script>
</body>

</html>